extends layout

block content
  h1= title
  if customer
    p Welcome to #{customer}
 
    ul
    if customers.length
  
     ul
       each val in customers
        li= val.userid +' '+ val.email + ' '+val.lastname
        ul
          each val1 in val.appl_roles
            li= val1.roleid +' '+ val1.rolename
       else
        li There are no values
        
    else
       li=customers.email